spring:
  application:
    name: CashStorage

  datasource:
    url: jdbc:postgresql://localhost:5432/cash_app
    username: postgres
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    table: flyway_schema_history

logging:
  level:
    org.flywaydb: DEBUG