cash-app:
  security:
    # noinspection SpringBootApplicationYaml
    signing-key: ${SIGNING_KEY:ug83JEBeq59tJ5o7eW14Q2CeDIavem0z0lWl54RifDPmQWJxl0npXmsmqOJYMuRU}
    token-ttl-in-seconds: ${TOKEN_TTL_IN_SEC:3600}

spring:
  application:
    name: CashStorage
  datasource:
    url: jdbc:postgresql://localhost:${DB_PORT:5432}/cash_app
    username: postgres
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    table: flyway_schema_history
    default-schema: public
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.springframework.security: TRACE